extends ../views/layouts/main
block content
  div
    form(action='/resetpassword',method='post')
      input(type='hidden', name='_csrf', value=csrfToken)
      label(for='email') Email
        input(id='email',type='text',value=email ? email : "",placeholder='Email',name='email')
      br
      br    
      input(type='submit',value='Reset Password')      