extends ../views/layouts/main
block content
  div
    p #{session}
    form(action='/signup',method='post')
      input(type='hidden', name='_csrf', value=csrfToken)
      label(for='name') Name
        input(id='name',type='text',value=name ? name : "",placeholder='Name',name='name')
      br  
      br
      label(for='email') Email
        input(id='email',type='text',value=email ? email : "",placeholder='Email',name='email')
      br
      br   
      label(for='password') Password
        input(id='password',type='password',value='',placeholder='Password',name='password')
      br
      br  
      input(type='submit',value='Sign Up')      