extends ../views/layouts/main
block content
  div
    form(action='/updatepassword',method='post')
      input(type='hidden', name='token', value=token)
      label(for='password') Password
        input(id='password',type='password',placeholder='Password',name='password')
      br
      br
      label(for='confirmpassword') Password
        input(id='confirmpassword',type='password',placeholder='Confirm Password',name='confirmpassword')
      br
      br     
      input(type='submit',value='Update Password')      